@layout LoginLayout
@page "/login/RecordarContrasena"

@inject NavigationManager Navigate
@using BonosAyto.Components.Layout

<HeadContent>
	<link href="CSS/EstilosLogin.css" rel="stylesheet" />
</HeadContent>

<div class="card">
	<div class="card-body text-center">
		<h4 class="text-center">Recordar contraseña</h4>
		<EditForm Model="usuario" OnValidSubmit="Validaciones">
			<DataAnnotationsValidator />

			<div class="form-floating mt-4">
				<input id="usuario" @bind-value="usuario.Usuario" disabled="@(codigo != "")" class="form-control" placeholder="Usuario" required />
				<label for="floatingInput">Usuario</label>
			</div>

			@if (codigo != "")
			{
				<p class="text-start">Se ha enviado un correo a la dirección @(correoMostrar) con un código de verificación. Por favor, introduzca el código en el campo que aparece a continuación.</p>
				<div class="form-floating mt-4">
					<input id="usuario" @bind-value="usuairoCodigo" class="form-control" placeholder="Código" required />
					<label for="floatingInput">Código</label>
				</div>
				<a href="javascript:void(0)" @onclick="EnviarCodigo" class="d-block text-secondary mt-2">@textoRenviarCodigo</a>
			}

			@if (!string.IsNullOrEmpty(mesageError))
			{
				<p class="mt-2 text-danger">@mesageError</p>
			}

			<button type="submit" class="btn btn-secondary mt-2 w-100">Recordar contraseña</button>
			<a href="/login" class="d-block text-secondary text-center mt-2">Acceder</a>
		</EditForm>
	</div>
</div>