@page "/informe1"

@using Blazorise
@using Blazorise.Charts
@using BonosAytoService.Services
@inject EstablecimientoService EstablecimientoService


<h3 class="w-100 text-center">GRÁFICOS INFORMES</h3>
<GraficoDiario></GraficoDiario>
<GraficoMensual></GraficoMensual>



<div class="d-flex mb-3">
    <!-- Dropdown de establecimiento -->

    <div class="selectContainer">
        <input list="establecimientos"
               class="form-control"
               placeholder="Establecimiento"
               @bind="InputEstablecimiento" />


        <datalist id="establecimientos">
            <option value="Todos" />
            @foreach (var e in nombresEstablecimientos)
            {
                <option value="@e" />
            }
        </datalist>

    </div>



    <!-- Dropdown de filtro de tiempo: Total o trimestre activo-->
    <Dropdown class="mx-2">
        <DropdownToggle Color="Color.Secondary">@filtroSeleccionado</DropdownToggle>
        <DropdownMenu>
            <DropdownItem @onclick="@(() => CambiarFiltro("Total"))">Total</DropdownItem>
            <DropdownItem @onclick="@(() => CambiarFiltro("Trimestre activo"))">Trimestre activo</DropdownItem>
        </DropdownMenu>
    </Dropdown>
</div>

<div class="container">
    <div class="row">

        <CascadingValue Value="filtros">
            <GraficoTotal />

            <GraficoDiario />
            <GraficoMensual />
        </CascadingValue>


    </div>
</div>


