<div class="modal fade @modalClass" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@Titulo</h5>
				<button type="button" class="btn-close" @onclick="Close" aria-label="Close"></button>
			</div>
			<div class="modal-body border-0 pb-0">
				@Contenido
			</div>
			<div class="modal-footer border-0">
				@botonAceptar
				<button type="button" class="btn btn-primary" @onclick="Close">Cancelar</button>
			</div>
		</div>
	</div>
</div>
@if (showBackdrop)
{
	<div class="modal-backdrop fade show" @onclick="Close"></div>
}