<div class="modal fade" tabindex="-1" role="dialog" id="@modalId">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">@Titulo</h5>
				<button type="button" class="btn-close" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body border-0 pb-0">
				<div class="d-flex align-items-center text-@color ">
					<i class="bi bi-@icono fs-1"></i><h4 class="ms-2 mb-0">@Texto</h4>
				</div>
				<p class="text-@color">@Descripcion</p>
			</div>
			<div class="modal-footer border-0">
				@botonAceptar
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>